<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Editar altura</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body class="has-background-light">

<section class="section">
<div class="container">
<div class="column is-half is-offset-one-quarter box">

<h1 class="title has-text-centered">Editar altura</h1>

<form method="POST">

<div class="field">
<label class="label">Nueva altura (cm)</label>
<input class="input" type="number" name="altura" required>
</div>

<button class="button is-warning is-fullwidth">Actualizar</button>
</form>

<p class="has-text-centered" style="margin-top:10px;">
<a href="/">Volver</a>
</p>

</div>
</div>
</section>

</body>
</html>
